/** @format */

.present {
  @include margin(13px, 88px);

  background-color: rgba(0, 0, 0, 0.0001);
  @media (min-width: $mediumSize) {
    @include margin(18px, 98px);
  }
  @media (min-width: $largeSize) {
    @include margin(19px, 70px);
  }
}

.section-subtitle{
    @include fonts(400, 14px, 14px);
    color: $greyColor;
    @include margin(40px, 80px);
    @media(min-width: $mediumSize){
      @include margin(50px, 94px);
    }
    @media(min-width:$largeSize){
        margin-bottom: 66px;
    }
}

.present-title {
  @include fonts(26px, 700, 28px);
  color: $presenttitle;
  text-transform: uppercase;
  @media (min-width: $mediumSize) {
    @include fonts(700, 42px, 42px);
  }
  @media (min-width: $largeSize) {
    @include fonts(700, 54px, 54px);
  }
}

  .section-text{
    font-family: 'Lato', sans-serif;
    @include fonts(14px, 400, 20px);
    color: $textlight;
    padding-left: 15px;
    padding-right: 15px;
    }

.section-text--position {
  @media (min-width: $mediumSize) {
    @include fonts(400, 21px, 32px);
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (min-width: $largeSize) {
    padding-left: 150px;
    padding-right: 150px;
  }
}

.section-text--dark {
  color: $textdark;
  @include margin(27px, 36px);
  @media (min-width: $mediumSize) {
    @include margin(33px, 24px);
  }
  @media (min-width: $largeSize) {
    @include margin(35px, 13px);
  }
}

.present-list {
  @include flex(row, space-around);
  flex-wrap: wrap;
  gap: 8px;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: $mediumSize) {
    @include flex(row, center);
  }
}

.present-list__item {
  border: 2px solid rgba(27, 31, 36, 0.15);
  border-radius: 6px;
  background-color: #f6f8fa;
}

.present__link {
    @include flex(row, center);
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.present__link__icon {
  margin-left: 12px;
}

.present__link__text {
  font-family: "Noto Sans", sans-serif;
  color: #24292f;
  @include fonts(500, 12px, 20px);
}

.present__link--number {
  padding-left: 7px;
  padding-right: 12px;
  background-color: #fff;
  border-left: 2px solid rgba(27, 31, 36, 0.15);
  border-radius: 0 6px 6px 0;
}
