/** @format */

$maincolor: #8d81ac;
$greyColor: #848e97;
$subTitleColor: #323232;
$hoverColor: #ffff;

$mediumSize: 481px;
$largeSize: 993px;

// для секции Present
$presenttitle: #635c73;
$presentbackground: #e5e5e5;
$textdark: #323232;
$textlight: #848e97;

//для секции Pricing
$targetItemColor: #463048;
$targetItemColorHead: #000000;

//для секции testimonials

$postColor: #a291a5;

//для секции Features

$colorbg: #F4F4F4;











